atividades_da_aula/data
atividades_da_aula/model
trabalho_pln/2401.10825v3.pdf
trabalho_pln/data/cesar.jsonl
trabalho_pln/data/marilia.jsonl
trabalho_pln/data/murilo.jsonl
trabalho_pln/data/natassia.jsonl
trabalho_pln/ml.gif
md
md.zip
